<!DOCTYPE html>
<span class="npdc-crumbs-container">
    <span ng-if="!$last">
      <a ng-href="/expedition" title="{{ 'back' | t}}"> {{ 'back' | t }} </a> &nbsp;&nbsp;
        <a ng-href="/expedition/stat" title="{{ 'statistics' | t}}"> {{ 'statistics' | t }} </a>
    </span>
</span>
<br /><br />



<h3><b>CSV <b></h3>

<!--<div ng-show="isAdmin"> --> <div>

<div ng-controller="StatCSVController">
Id | {{ 'Date' | t }} | {{ 'Latitude' | t }} | {{ 'Longitude' | t }} | {{ 'Location' | t }} | {{ 'Location comment' | t }} | {{ 'Species' | t }} | {{ 'Adult M' | t }} | {{ 'Adult F' | t }} | {{ 'Adult' | t }} | {{ 'Subadult' | t }} | {{ 'Polar bear condition' | t }} | {{ 'Cub/calf/pup' | t }} | {{ 'Bear cubs' | t }} | {{ 'Unidentified' | t }} | {{ 'Total' | t }} | Habitat | {{ 'Occurrence remark' | t }} | {{ 'Excelfile' | t }} | {{ 'Expedition name' | t }} | {{ 'Expedition contact info' | t }} | {{ 'Expedition organisation' | t }} | {{ 'Platforms' | t }} | {{ 'Platform comment' | t }}  <br />



<p ng-repeat="entry in entries">
{{ entry }} |
</p>