<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>

<leaflet ng-if="document && mapOptions" options="mapOptions" class="coverage-map"></leaflet>
<div ng-if="document" class="np-padding">


<section>
  <h1>
  <span class="md-display-2">{{ document.code }} </span><span style={font-size:15%}> [{{ document.type }}]</span></h1>
</section>

<section>
 <h3>{{'Summary' | t }}</h3>
   <md-divider></md-divider>
  <p>{{document.summary}}<p />
</section>



<section ng-if="document.platforms && document.platforms.length > 0">
  <md-divider></md-divider>
  <h3>{{'Platforms' | t }}</h3>
    <div ng-if="document.platforms" ng-repeat="platform in document.platforms">
      {{platform.type}}&nbsp;&nbsp;<span ng-if="platform.name">[{{platform.name}}
      <span ng-if="platform.sponsor">,&nbsp;{{platform.sponsor}}</span>]
        </span>
    </div>
</section>
<br />

<section ng-if="document.research && document.research.length > 0">
  <md-divider></md-divider>
  <h3>{{ 'Activities' | t }}</h3>
    <div ng-if="document.research" ng-repeat="research in document.research">
    {{research.research_type}}:&nbsp;&nbsp;
    <span ng-if="research.research_title">{{research.research_title}}</span>
    <span ng-if="research.topics"> [<span ng-repeat="topic in research.topics">{{topic}}<span ng-if="!$last">,&nbsp; </span></span>]</span>

    </div>
</section>
<br />


  <section ng-if="document.people && document.people.length > 0">
     <md-divider></md-divider>
  <h3>{{ 'People' | t }}</h3>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="person in document.people">
      <md-icon class="md-avatar-icon">person</md-icon>
        <div class="md-list-item-text">
          <h3> {{ person.first_name }} {{ person.last_name }} </h3>
          <p ng-if="person.organisation">{{ person.organisation }},&nbsp;{{ person.country }}</p>
          <p ng-if="person.roles"><span ng-repeat="r in person.roles">{{ r }}<span ng-if="!$last">, </span></span></p>
          <p ng-if="person.expedition_dates"><span ng-repeat="t in person.expedition_dates">{{ (t.start_date).substr(0,10) }}&nbsp;-&nbsp;{{ (t.start_date).substr(0,10) }}</p>
        </div>
      </md-list-item>
    </md-list>
</section>


<section ng-if="document.activity && document.activity.length > 0">
  <md-divider></md-divider>
  <h3>{{ 'Travel' | t}}</h3>

    <div  ng-repeat="activity in document.activity">
       <md-icon>place</md-icon>
    <span ng-if="activity.departure_return_dates">{{activity.departure_return_dates.start_date.substr(0,10)}} - {{activity.departure_return_dates.end_date.substr(0,10)}}</span>
    <span ng-if="activity.departure_placename"> &nbsp;&nbsp;{{activity.departure_placename}}</span> <span ng-if="activity.departure_gps"> ({{activity.departure_gps.latitude}},{{activity.departure_gps.longitude}})</span>
     <span ng-if="activity.departure_country">,&nbsp;{{activity.departure_country}} </span>
      <span ng-if="activity.departure_predefined_area"> [{{activity.departure_predefined_area}}]</span> -
       <span ng-if="activity.return_placename">&nbsp;&nbsp;{{activity.return_placename}} </span>
        <span ng-if="activity.return_gps"> ({{activity.return_gps.latitude}},{{activity.return_gps.longitude}})</span>
        <span ng-if="activity.return_country">,&nbsp;{{activity.return_country}}</span>
         <span ng-if="activity.return_predefined_area"> [{{activity.return_predefined_area}}]</span>

        <br />
    </div>
</section>
<br />

<section ng-if="document.locations">
   <md-divider></md-divider>
   <h3>{{ 'Locations' | t }}</h3>
    <div  ng-repeat="location in document.locations">
        <md-icon>place</md-icon>

        <span ng-if="location.location_dates">{{location.location_dates.start_date.substr(0,10)}} - {{location.location_dates.end_date.substr(0,10)}}&nbsp;&nbsp;</span>

        <span ng-if="location.placename">{{location.placename}}</span>
        <span ng-if="location.north">({{location.north}},{{location.east}}&nbsp;{{location.south}},{{location.west}})</span>
        <span ng-if="location.country">,&nbsp;{{location.country}}</span>
        <span ng-if="location.predefined_area"> [{{location.predefined_area}}]</span>
         <span ng-if="location.field_camp"><i>field camp </i></span>
        <span ng-if="location.operation_area"><i>operational area</i></span>
        <br />
    </div>
</section>
<br />

<section ng-if="document.tags && document.tags.length > 0">
<md-divider></md-divider>
<h3>{{ 'Classification' | t }}</h3>

          <h4>{{ 'Tags' | t }}</h4>
          <p>
            <md-icon>label_outline</md-icon><span ng-repeat="tag in document.tags">
              <a ng-href="?q=&filter-tags={{tag}}">{{ tag }}</a>{{!$last ? ' / ':''}}
            </span>
          </p>
 </section>
 <br />


<section ng-if="document.links && document.links.length > 0">
   <md-divider></md-divider>
  <h3>{{'Links' | t }}</h3>

    <div ng-repeat="link in document.links">

        <a href="{{link.href}}">{{link.title}}</a>

    </div>
</section>
<br />

 <section ng-if="document.attachments">
 <!-- FIXME @todo
    If license was set after uploading, the files are restricted and therefore not available unless logged in and authorized
    Once this is fixed, append this to the ng-if: || document.license
    -->
     <md-divider></md-divider>
  <h3>{{'Files' | t }}</h3>
      <div ng-repeat="file in document.attachments">
        <md-icon>file_download</md-icon> <a ng-href="{{file.href+'?key='+key()}}">{{ file.filename}}</a> ({{ file.type }} {{ file.length | bytes }})
      </div>
</section>
<br />


<section ng-if="alternate">
        <md-divider></md-divider>
        <h3>Machine-readable metadata</h3>
        <!-- @todo CC0 for metadata? <p></p> -->
        <p>
          <div ng-repeat="link in alternate">
            <a ng-href="{{link.href}}" title="{{link.type}}">{{ link.title || link.href }}</a>
            </div>
        </p>
</section>

<section>
        <npdc:document-meta></npdc:document-meta>
</section>


</div>
