<!DOCTYPE html>

<span class="npdc-crumbs-container">
    <span ng-if="!$last">
      <a ng-href="/expedition" title="{{ 'back' | t}}"> {{ 'back' | t }} </a> &nbsp;&nbsp;
        <a ng-href="/expedition/stat/csv" title="{{ 'csv' | t}}"> {{ 'csv' | t }} </a>
    </span>
</span>
<br /><br />


    <label for="start_date">&nbsp;&nbsp;Start date:</label>
    <input id="start_date" type="text" required/>
    <input id="end_date" type="text" required/>
    <button ng-click="submit()">Submit</button>

<br><br>
    <hc-pie-chart title="Days in field" data="pieData">Days in field</hc-pie-chart>
<!--
     <hc-bar-chart title="Days in field per activity" data="activity_type">Days in field per activity</hc-bar-chart>
     <hc-bar-chart title="Days in field per country" data="country">Days in field per country</hc-bar-chart>
     <hc-bar-chart title="Days in field per role" data="role">Days in field per role</hc-bar-chart>
     <hc-bar-chart title="Days in field per area" data="predefined_area">Days in field per area</hc-bar-chart>  -->


