
<!-- <div ng-show = "feed && feed.entries && feed.entries.length > 0"> -->
<div ng-hide="{{stat}}">
<span class="npdc-crumbs-container">
    <span ng-if="!$last">
      <a href="#stat" ng-click="submit();">Statistics</a>
    </span>
</span>


<npdc:search-input feed="feed"></npdc:search-input>

  <section class="app-section" layout="column" ng-controller="ExpeditionMapController">
    <h1>Expeditions ({{interval}} average positions)</h1>
    <div id="npolar-esri-leaflet-map" style="height:600px;" class="leaflet-map"></div>
  </section>

<npdc:search feed="feed"></npdc:search>

</div>



<div ng-show ="{{stat}}" ng-controller="StatShowController">

<!--<span class="npdc-crumbs-container">
    <span ng-if="!$last"> -->

 <!--     <a ng-href="/expedition" title="{{ 'back' | t}}"> {{ 'back2' | t }} </a> &nbsp;&nbsp;
        <a ng-href="/expedition/stat/csv" title="{{ 'csv' | t}}"> {{ 'csv' | t }} </a>  -->
 <!--   </span>
</span>
<br /><br /> -->

 <a href="/expedition" ng-click="submit2();">Back</a>
 <a href="/expedition#CSV" ng-click="submit3();">CSV</a>

<section>
<form>
    <label for="start_date">&nbsp;&nbsp;Start date:</label>
    <input id="start_date" type="text" required/>

      <label for="end_date">&nbsp;&nbsp;End date:</label>
    <input id="end_date" type="text" required/>

 <button name="submit" ng-click="submit()">Submit</button>
</form>
</section>

<br><br>
<div ng-if="show()">
    <hc-pie-chart title="Days in field" data="type">Days in field</hc-pie-chart>
</div>
<!--
     <hc-bar-chart title="Days in field per activity" data="activity_type">Days in field per activity</hc-bar-chart>
     <hc-bar-chart title="Days in field per country" data="country">Days in field per country</hc-bar-chart>
     <hc-bar-chart title="Days in field per role" data="role">Days in field per role</hc-bar-chart>
     <hc-bar-chart title="Days in field per area" data="predefined_area">Days in field per area</hc-bar-chart>  -->


</div>


